/* Animations */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes glitch {
  0% {
      transform: translate(2px, 0);
      text-shadow: -2px 0 #ff0000;
  }
  25% {
      transform: translate(-2px, 0);
      text-shadow: 2px 0 #00ff00;
  }
  50% {
      transform: translate(0, 2px);
      text-shadow: 2px -2px #ff0000;
  }
  75% {
      transform: translate(0, -2px);
      text-shadow: -2px 2px #00ff00;
  }
  100% {
      transform: translate(2px, 0);
      text-shadow: -2px 0 #ff0000;
  }
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  41% { opacity: 1; }
  42% { opacity: 0.8; }
  43% { opacity: 1; }
  45% { opacity: 0.3; }
  46% { opacity: 1; }
  89% { opacity: 1; }
  90% { opacity: 0.4; }
  91% { opacity: 1; }
  92% { opacity: 0.7; }
  93% { opacity: 1; }
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.08); }
}

@keyframes cctv-flicker {
  0%, 100% { opacity: 0.6; }
  3% { opacity: 0.55; }
  7% { opacity: 0.6; }
  18% { opacity: 0.6; }
  18.5% { opacity: 0.2; }
  18.6% { opacity: 0.6; }
  30% { opacity: 0.6; }
  30.3% { opacity: 0.7; }
  30.4% { opacity: 0.6; }
  67% { opacity: 0.6; }
  67.5% { opacity: 0.25; }
  67.7% { opacity: 0.6; }
  77% { opacity: 0.6; }
  77.5% { opacity: 0.67; }
  77.7% { opacity: 0.6; }
}

/* VHS tracking lines */
@keyframes tracking {
  0% { transform: translateY(-100px); }
  100% { transform: translateY(100vh); }
}
